@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
    padding: 0 30%;
    color: #ddd;
    background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0,0,0,0.3)), url('https://i.pinimg.com/736x/0b/3f/27/0b3f27d11c53e678690c7afa25b73d18.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    padding: 2rem;
    background-image: linear-gradient( #c2364d4c, #ca465c);
    color: #fff;
    border-radius: 5px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo span{
    font-size: 18px;
    font-weight: 800;
}
header p{
    font-size: 12px;
}

/* # hero  */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    
}

.hero-content{
    border-radius: 5px;
    width: 100%;
    padding: 1rem ;
    background-image: linear-gradient( #c2364d4c, #ca465c);
}
.hero-content button{
    padding: 10px 20px;
    background-color: #fff;
    color: #c2364d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
    margin-top: 1rem;
}
.hero-content button:hover{
    background-color: #c2364d;
    color: #fff;
}


/* # form section  */
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    
}
.form-section-content{
    border-radius: 5px;
    width: 100%;
    padding: 1rem ;
    background-image: linear-gradient( #c2364d4c, #ca465c);
}
.form-section-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}
form input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    display: block;
}
form button{
    width: 50%;
    padding: 10px 20px;
    background-color: #fff;
    color: #c2364d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}
form button:hover{
    background-color: #c2364d;
    color: #fff;
}


/* # processing section  */
.processing-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    
}

.processing-section-content{
    border-radius: 5px;
    width: 100%;
    padding: 1rem ;
    background-image: linear-gradient( #c2364d4c, #ca465c);
}

.processing-steps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    flex-direction: column;
}
.processing-steps i{
    font-size: 40px;
}
.processing-steps .rotate{
    animation: rotate 2s   infinite;
}
.processing-steps .done{
    animation: done 2s   infinite;
}

.processing-steps button{
    padding: 10px 20px;
    background-color: #fff;
    color: #c2364d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#step {
    font-size: 24px;
    animation: fadeIn 2s ease-in-out;
}

/* # processing animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        animation-timing-function: ease;
    }
    
}

@keyframes done {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}