@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
    padding: 1rem 30%;
    color: #ddd;
    background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.3)), url('./img/bg.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    padding: 2rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
    color: #fff;
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo span {
    font-size: 18px;
    font-weight: 800;
}

header p {
    font-size: 12px;
}

/* # hero  */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    gap: 10px;
    flex-direction: column;

}

.hero-content {
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
}

.hero-content button {
    padding: 10px 20px;
    background-color: #dc2e4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
    margin-top: 1rem;
}

.hero-content button:hover {
    background-color: #c2364d;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    transform: translateY(-5px);
}


/* # form section  */
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    display: none;
}

.form-section-content {
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
}

.form-section-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

form input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 50%;
    display: block;
}

form button {
    width: 50%;
    padding: 10px 20px;
    background-color: #dc2e4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 1rem;
}

form button i {
    font-size: 40px;
}

form button:hover {
    background-color: #c2364d;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    transform: translateY(-5px);

}


/* # processing section  */
.processing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: #fff;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    display: none;
}

.processing-section-content {
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
}

.processing-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    flex-direction: column;
}

.processing-steps i {
    font-size: 40px;
}

.processing-steps .rotate {
    animation: rotate 2s infinite;
}

.processing-steps .done {
    animation: done 2s infinite;
}

.processing-steps button {
    padding: 10px 20px;
    background-color: #dc2e4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: none;
}

.processing-steps button:hover {
    background-color: #c2364d;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    transform: translateY(-5px);

}

#step {
    font-size: 24px;
    animation: fadeIn 2s ease-in-out;
}

/* # processing animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        animation-timing-function: ease;
    }

}

@keyframes done {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


/*# Result Section  */
.result-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    height: auto;
    width: 100%;
    color: #fff;
    gap: 10px;
    flex-direction: column;
    /* display: none; */
    margin: 1rem auto;
    position: relative;
}

.heart-gif{
    width: 100%;
    position: absolute;
    opacity: .3;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.report {
    border-radius: 5px;
    width: 100%;
    padding: 2rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
}

.report-header .names {
    text-align: center;
}

.report .love-percent {
    text-align: center;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.report .score {
    font-size: 60px;
    font-weight: 800;
}

.report-item {
    padding: .5rem 0;
}

.report-item .cntr {
    text-align: center;
    margin-bottom: .3rem;
}

.report-item .txt-jstf {
    text-align: justify;
}

.report-item .tips {
    font-size: 12px;
}

.report-item .bg-drk{
    background-image: linear-gradient(to left, #c0536536, #ca465c);
    border-radius: 5px;
    padding: .5rem;
}
.report-actions {
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    padding: 1rem .5rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
}

.report-actions button {
    padding: 10px 20px;
    background-color: #dc2e4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

.report-actions button:hover {
    background-color: #c2364d;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    transform: translateY(-5px);
}




/* # toast notification  */
.toast {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}


.toast-item {
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 10px #fff;
    padding: 20px;
    border-radius: 5px;
    background-image: linear-gradient(#c2364d4c, #ca465c);
    color: #fff;
    animation: toastShake 3s infinite;
    display: none;
}
.toast-item.show {
    display: flex;
}
.toast-item i {
    font-size: 24px;
    animation: toastIcon 1s infinite;
}

/* # animation to zoom in and zoom out  */

@keyframes toastIcon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes toastShake {
    0% {
        transform: translateX(20px);
    
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }

}


/* # footer  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    background-image: linear-gradient(#c2364d4c, #ca465c);
    color: #fff;
    border-radius: 5px;
}

.footer-content {
    font-size: 12px;
}

/* # Responsiveness  */
@media screen and (max-width: 768px) {
    body {
        padding: .5rem;
        /* min-height: 100%; */
        height: auto;
    }

    header {
        padding: 1rem;
    }

    .hero {
        height: 100vh;
    }

    .hero-content button {
        padding: 10px;
        font-size: 14px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
.hero-content button i{
    font-size: 35px;
}
    .form-section {
        height: 100vh;
    }

    .form-section-content form {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    form button {
        width: 100%;
    }

    .processing-section {
        height: 100vh;
    }

    .processing-section-content {
        width: 100%;
    }

    .processing-steps button {
        width: 100%;
    }

    .result-section {
        height: auto;
        margin: 1rem auto;
    }
    .heart-gif{
        top: 18%;
    }
    .report {
        width: 100%;
    }

    .report-actions button {
        width: 100%;
    }

    footer {
        padding: 1rem;
    }

}